@{
    ViewData["Title"] = "Home Page";
}
@model List<Review>

   <main>
      <section class="py10 coloredsection">
        <div class="container text-left text-white">
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <h1 class="text-white mb-4">
                Awesome App <br />App Landing Template
              </h1>
              <p>
                An awesome landing page template to showcase your app features,
                screenshots, pricing, user testimonials and download links.
              </p>
              <ul class="py-1 list-unstyled">
                <li class="py-2">
                  <i class="fa fa-check-circle pr-4" aria-hidden="true"></i>
                  Amazing Design to Present Your App
                </li>
                <li class="py-2">
                  <i class="fa fa-check-circle pr-4" aria-hidden="true"></i>
                  Fully Responsive and Powered by Bootstrap &amp; PaperKit
                </li>
                <li class="py-2">
                  <i class="fa fa-check-circle pr-4" aria-hidden="true"></i>
                  Very Easy to Customize and Setup
                </li>
              </ul>
              <a
                class="btn mt-5 btn-outline-light rounded-5 fw-bold border-2 border"
                href="#features"
                >Start Exploring</a
              >
            </div>
            <div
              class="col-md-6 col-sm-12 d-flex justify-content-center align-items-center"
            >
              <img class="img-fluid" src="~/assets/img/1.jpg" alt="Image" />
            </div>
          </div>
        </div>
      </section>

      <section class="py10">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-6 mt-3">
              <div class="d-flex gap-4">
                <i class="fa fa-gear fs-1 cc1"></i>
                <div>
                  <p class="fw-semibold">Showcase Your App</p>
                  <p class="text-black-50">
                    Showcase your app in style with this professional looking
                    template.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-3">
              <div class="d-flex gap-4">
                <i class="fa fa-gear fs-1 cc1"></i>
                <div>
                  <p class="fw-semibold">Showcase Your App</p>
                  <p class="text-black-50">
                    Showcase your app in style with this professional looking
                    template.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-3">
              <div class="d-flex gap-4">
                <i class="fa fa-gear fs-1 cc1"></i>
                <div>
                  <p class="fw-semibold">Showcase Your App</p>
                  <p class="text-black-50">
                    Showcase your app in style with this professional looking
                    template.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-3">
              <div class="d-flex gap-4">
                <i class="fa fa-gear fs-1 cc1"></i>
                <div>
                  <p class="fw-semibold">Showcase Your App</p>
                  <p class="text-black-50">
                    Showcase your app in style with this professional looking
                    template.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-3">
              <div class="d-flex gap-4">
                <i class="fa fa-gear fs-1 cc1"></i>
                <div>
                  <p class="fw-semibold">Showcase Your App</p>
                  <p class="text-black-50">
                    Showcase your app in style with this professional looking
                    template.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-3">
              <div class="d-flex gap-4">
                <i class="fa fa-gear fs-1 cc1"></i>
                <div>
                  <p class="fw-semibold">Showcase Your App</p>
                  <p class="text-black-50">
                    Showcase your app in style with this professional looking
                    template.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <hr class="my-5" />

      <section class="py-5">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <img src="~/assets/img/2.jpg" class="img-fluid" alt="" />
            </div>
            <div class="col-lg-6">
              <p class="fs-2 fw-bold">What is Awesome App?</p>
              <p class="">
                Add a brief story about your app here, what purpose your app
                solves and why you think your user would want to have it on
                their device.
              </p>
              <p>
                Re-establish the main use case of your app by listing them
                below. Make sure to place a relavent screenshot on the left.
              </p>
              <ul class="py-1 list-unstyled">
                <li class="py-2">
                  <i class="fa fa-check-circle pr-4" aria-hidden="true"></i>
                  Amazing Design to Present Your App
                </li>
                <li class="py-2">
                  <i class="fa fa-check-circle pr-4" aria-hidden="true"></i>
                  Fully Responsive and Powered by Bootstrap &amp; PaperKit
                </li>
                <li class="py-2">
                  <i class="fa fa-check-circle pr-4" aria-hidden="true"></i>
                  Very Easy to Customize and Setup
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>

      <section class="py-5 bg-light">
        <div class="container">
          <p class="fw-bold fs-4 text-center container">
            Take a look at our screenshots
          </p>
          <p class="text-center container">
            Add your app screenshots below. Make sure to make them lively by
            putting them inside real device mockups Replace this text to
            describe the screenshots of your app.
          </p>

          <div class="container">
            <div class="owl-carousel owl-theme">
              <div class="item">
                <img src="~/assets/img/3.jpg" class="w-100 rounded-4" alt="" />
              </div>
              <div class="item">
                <img src="~/assets/img/3.jpg" class="w-100 rounded-4" alt="" />
              </div>
              <div class="item">
                <img src="~/assets/img/3.jpg" class="w-100 rounded-4" alt="" />
              </div>
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="container">
          <p class="fw-bold fs-4 text-center container">
            Take a look at our screenshots
          </p>
          <p class="text-center container">
            Add your app screenshots below. Make sure to make them lively by
            putting them inside real device mockups Replace this text to
            describe the screenshots of your app.
          </p>
          <div class="row">
            <div class="col-lg-3 col-md-6 mt-3">
              <div class="card shadow-sm p-3 mb-5 rounded bg-light h-100">
                <div class="card-body">
                  <h5 class="card-title text-center">Basic</h5>
                </div>
                <div class="bg-white">
                  <p class="card-text py-2 text-center fs-3">
                    <sup>$</sup>12.0<sub>/m</sub>
                  </p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item text-center bg-light">One User</li>
                  <li class="list-group-item text-center bg-light">One User</li>
                  <li class="list-group-item text-center bg-light">One User</li>
                </ul>
                <div class="card-body">
                  <div class="d-flex justify-content-center">
                    <a href="#" class="card-link text-black-50"
                      >Start Free Trial</a
                    >
                  </div>
                  <div class="d-flex justify-content-center mt-3">
                    <a
                      href="#"
                      class="card-link btn btn-outline-danger rounded-pill fw-semibold"
                      >BUY NOW</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 mt-3">
              <div class="card shadow-sm p-3 mb-5 rounded bg-light h-100">
                <div class="card-body">
                  <h5 class="card-title text-center">Basic</h5>
                </div>
                <div class="bg-white">
                  <p class="card-text py-2 text-center fs-3">
                    <sup>$</sup>12.0<sub>/m</sub>
                  </p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item text-center bg-light">One User</li>
                  <li class="list-group-item text-center bg-light">One User</li>
                  <li class="list-group-item text-center bg-light">One User</li>
                </ul>
                <div class="card-body">
                  <div class="d-flex justify-content-center">
                    <a href="#" class="card-link text-black-50"
                      >Start Free Trial</a
                    >
                  </div>
                  <div class="d-flex justify-content-center mt-3">
                    <a
                      href="#"
                      class="card-link btn btn-outline-danger rounded-pill fw-semibold"
                      >BUY NOW</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 mt-3">
              <div class="card shadow-sm p-3 mb-5 rounded bg-light h-100">
                <div class="card-body">
                  <h5 class="card-title text-center">Basic</h5>
                </div>
                <div class="bg-white">
                  <p class="card-text py-2 text-center fs-3">
                    <sup>$</sup>12.0<sub>/m</sub>
                  </p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item text-center bg-light">One User</li>
                  <li class="list-group-item text-center bg-light">One User</li>
                  <li class="list-group-item text-center bg-light">One User</li>
                </ul>
                <div class="card-body">
                  <div class="d-flex justify-content-center">
                    <a href="#" class="card-link text-black-50"
                      >Start Free Trial</a
                    >
                  </div>
                  <div class="d-flex justify-content-center mt-3">
                    <a
                      href="#"
                      class="card-link btn btn-outline-danger rounded-pill fw-semibold"
                      >BUY NOW</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 mt-3">
              <div class="card shadow-sm p-3 mb-5 rounded bg-light h-100">
                <div class="card-body">
                  <h5 class="card-title text-center">Basic</h5>
                </div>
                <div class="bg-white">
                  <p class="card-text py-2 text-center fs-3">
                    <sup>$</sup>12.0<sub>/m</sub>
                  </p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item text-center bg-light">One User</li>
                  <li class="list-group-item text-center bg-light">One User</li>
                  <li class="list-group-item text-center bg-light">One User</li>
                </ul>
                <div class="card-body">
                  <div class="d-flex justify-content-center">
                    <a href="#" class="card-link text-black-50"
                      >Start Free Trial</a
                    >
                  </div>
                  <div class="d-flex justify-content-center mt-3">
                    <a
                      href="#"
                      class="card-link btn btn-outline-danger rounded-pill fw-semibold"
                      >BUY NOW</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <hr class="my-5" />
      <section class="py-5">
        <div class="container">
          <p class="fw-bold fs-4 text-center container">
            Take a look at our screenshots
          </p>
          <p class="text-center container">
            Add your app screenshots below. Make sure to make them lively by
            putting them inside real device mockups Replace this text to
            describe the screenshots of your app.
          </p>
          <div class="row">
              @foreach (var item in Model)
             {
                   <div class="col-lg-4 col-md-6 mt-3">
              <div class="card shadow-sm p-3 mb-5 rounded bg-light h-100">
                <div class="card-body">
                  <p class="card-text">
                   @item.Comment
                  </p>
                </div>
                <div class="row justify-content-center">
                  <div class="col-3">
                    <img
                      src="~/assets/img/@item.Img"
                      class="card-img-bottom rounded-circle"
                      alt="..."
                    />
                  </div>
                  <div class="col-9">
                    <p>@item.Name</p>
                    <p class="text-black-50">@item.Position</p>
                  </div>
                </div>
              </div>
            </div>
             }
          

          </div>
        </div>
      </section>


      <section class="py-5 coloredsection">
        <div class="container">
            <p class="text-center fs-2 text-white fw-bold">Download Awesome App Now</p>
            <div class="row">
                <div class="col-md-4">
                    <div class=" bg-white rounded-5">
                        <div class="d-flex gap-4 p-3">
                            <i class="fa fa-mobile-android fs-1 cc1"></i>
                            <div>
                              <p class="fw-semibold">Download</p>
                              <p class="text-black-50">
                                Download Now
                              </p>
                            </div>
                        </div>
                      </div>
                </div>
                <div class="col-md-4">
                    <div class=" bg-white rounded-5">
                        <div class="d-flex gap-4 p-3">
                            <i class="fa fa-mobile-android fs-1 cc1"></i>
                            <div>
                              <p class="fw-semibold">Download</p>
                              <p class="text-black-50">
                                Download Now
                              </p>
                            </div>
                        </div>
                      </div>
                </div>
                <div class="col-md-4">
                    <div class=" bg-white rounded-5">
                        <div class="d-flex gap-4 p-3">
                            <i class="fa fa-mobile-android fs-1 cc1"></i>
                            <div>
                              <p class="fw-semibold">Download</p>
                              <p class="text-black-50">
                                Download Now
                              </p>
                            </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
      </section>
    </main>